.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin:auto;

}

input {
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    width: 40%;
    margin: auto;
}

.no-of-notes {
    border: solid black 2px;
}

.heading {
    background-color: burlywood;
    padding: 2rem;
    margin: auto;
}